# Jira Cloud

JIRA_CLOUD_ID=
JIRA_SITE_URL=
JIRA_EMAIL=
JIRA_API_TOKEN=
JIRA_ACCESS_TOKEN=

# Microsoft Graph

GRAPH_TENANT_ID=
GRAPH_CLIENT_ID=
GRAPH_CLIENT_SECRET=
GRAPH_ACCESS_TOKEN=

# Google Calendar

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_ACCESS_TOKEN=
